body{
    background-color: rgb(242, 239, 234);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh; 

}
label{
    color: rgb(242, 6, 6);
}
.button{
    color: rgb(240, 0, 0);
    background-color: #1739c4;
    padding: 10px 20px;
}